spring:
  application:
    name: demo
  profiles:
    active: dev
  config:
    activate:
      on-profile: dev
  datasource:
    url: jdbc:mysql://${DB_HOST:mysql80}:${DB_PORT:3306}/${DB_NAME:springdb}?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=Asia/Jakarta
    username: ${DB_USER:root}
    password: ${DB_PASS:root}
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate.format_sql: true
server:
  port: 8080
